<% include menu_sidebar.ejs %>
<!-- content start -->
<style>
    .xy-info-render{
        height: 37px;
        line-height: 37px;
    }
</style>
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人资料</strong> / <small>Personal information</small></div>
    </div>

    <hr/>

    <div class="am-g">
        <div class="am-u-sm-8">
            <form class="am-form am-form-horizontal">

                <div class="am-form-group">
                    <label for="user_account" class="am-u-sm-3 am-form-label">账号 / Account</label>
                    <div class="am-u-sm-9 xy-info-render">
                            <%= user_account %>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                    <div class="am-u-sm-9 xy-info-render">
                            <%= user_name %>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">性别 / sex</label>
                    <div class="am-u-sm-9 xy-info-render">
                            <%= user_sex %>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="user-type" class="am-u-sm-3 am-form-label">用户类型 / type</label>
                    <div class="am-u-sm-9 xy-info-render">
                            <%= user_type %>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="user-grade" class="am-u-sm-3 am-form-label">年级 / grade</label>
                    <div class="am-u-sm-9 xy-info-render">
                            <%= user_grade %>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="user-class" class="am-u-sm-3 am-form-label">班级 / class</label>
                    <div class="am-u-sm-9 xy-info-render">
                            <%= user_class %>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="user-college" class="am-u-sm-3 am-form-label">学院 / college</label>
                    <div class="am-u-sm-9 xy-info-render">
                            <%= user_college %>
                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <a href="./info_modify"><button type="button" class="am-btn am-btn-primary">修改资料</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- content end -->
<% include menu_sidebar_end.ejs %>
